/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* My Styling */

body {
	min-height: 98vh;

	display: grid;
	grid-template-rows: minmax(auto, 180px) 1fr;

	font-size: 1.2rem;
}

header {
	display: grid;
	place-content: center;
	border: 1px solid black;
}

main {
	display: grid;
	grid-template-rows: auto 1fr;
	
	border: 1px solid black;
}

.configure {
	display: grid;
	place-content: center;

	padding: 32px;
}

.books {
	padding: 32px;
}

button, input[type="radio"] {
	cursor: pointer;
}

button {
	border: none;
}

/* Styling dialog */
dialog {
	margin: auto;
	max-height: 100dvh;
	max-width: 100vw;
	padding: 32px;
}

dialog::backdrop {
	background-color: hsla(0, 0%, 0%, 0.664);
}

form {
	display: grid;
	grid-template-rows: repeat(4,1fr) repeat(2,auto);
	gap: 32px;
}

.form-element {
	display: grid;
	gap: 8px;
}

.radio {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}

.radio div {
	display: grid;
	grid-template-columns: repeat(2,minmax(auto,16px));
	place-content: center start;
	gap: 16px;
}

input {
	border-radius: 8px;
}

label {
	font-size: 1rem;
	font-weight: 800;
}

input:focus, input:active, input:hover {
	border: none;
	outline: 2px solid hsl(204, 100%, 50%);
	background-color: hsla(0, 0%, 82%, 0.514);
}

form button {
	border-radius: 11px;
}

.submit-btn {
	background-color: hsl(204, 100%, 50%);
	color: hsl(0, 0%, 100%);
	font-weight: 800;
}
.submit-btn:focus, .submit-btn:active, .submit-btn:hover {
	background-color: hsla(118, 100%, 82%, 0.692);
	color: black;
}

.cancel-btn {
	background-color: hsla(0, 0%, 69%, 0.932);
	font-weight: 800;
}
.cancel-btn:focus, .cancel-btn:active, .cancel-btn:hover {
	background-color: hsla(0, 81%, 65%, 0.692);
	color: white;
}