/* CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* My Styling */

body {
	min-height: 98vh;

	display: grid;
	grid-template-rows: minmax(auto, 180px) 1fr;
}

header {
	display: grid;
	place-content: center;
	border: 1px solid black;
}

main {
	display: grid;
	grid-template-rows: auto 1fr;
	
	border: 1px solid black;
}

.configure {
	display: grid;
	place-content: center;

	padding: 32px;
}

.books {
	padding: 32px;
}